*{
    text-decoration: none;
}
header{
    align-items: center;
    align-content: center;
    text-align: center;
}


.container{
}

.container .sec-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #fff;
}
.container .sec-container label{
    font-size: 24px;
    display: flex;
    flex-direction: row;
}
.container .sec-container input{
    padding: 4px;
    margin: 3rem;
}
.container .sec-container button{
    padding: 4px 4px ;
    font-size: 16px;
}

@media only screen and (max-width:600px){
    .sec-container{
        width: max-content;
        height: 100%;
    }
    .container .sec-container button{
        font-size: normal;
    }

}
