*{
    text-decoration: none;
    background-color: #ddd;
}
header{
    align-items: center;
    align-content: center;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 1rem;
}
.container .box{
   margin: 1rem;
}
.container .box:nth-child(2){
    left: 1rem;
    top: 0;
}
.container .box input{
    padding: 10px;
    border-radius: 10px;
    border:none;
    box-shadow: 2px 2px 8px black;
    background-color: #fff;
}
.container .box button{
    padding:  6px 10px;
    border: 2px solid orange;
    width: 175px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 2px 2px 8px orange;
}
.container .box button:hover{
    background-color: orange;
    color: black;
    border: black;
    box-shadow: 2px 2px 8px black;
}
.container .box button a{
    color: black;
}
.container .box button a::after{
    background: black;
    
}

@media only screen and (max-width:600px){
}
